body{
    background-color: #E6EFEE;
    font-family: 'rubik', 'sans-serif';
}

/* logo cart */

#point{
    position: absolute;
    margin-left: 16px;
    font-size: 32px;
    color: rgb(248, 66, 142);
}

/* buscador */

.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.input-style{
    border-style: none;
    border-radius: 50px;

}
.busqueda{
    border: 0px;
    height: 10px;
    padding: 15px 18px;
    font-size: 13px;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}

.btn-search{
    background-color: rgba(233, 212, 250, 0.699);
    border-radius: 0px 10px 10px 0px;
    padding: 2.5px 7px 2.5px 7px;
    border: none;
    outline: none;
}

.btn-search:hover{
    background-color: rgb(212, 189, 235);
}


.material-symbols-outlined {
    
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}

ul.nav.justify-content-center{
    background-color: rgb(233, 212, 250);
}

a.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 14, 68) ;
    font-weight: 500;
}
li.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
a.nav-link:hover{
    color: rgb(137, 34, 221);
}
.contenedor-logo{
    width: 53px;
}
.img-logo-kanda{
    width: 100%;
}

/* Categorías */

.contenedor-categorias{
    display: flex;
    justify-content: center;
}

.contenedor-categorias ul{
    display: flex;
}

.contenedor-categorias ul li{
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.contenedor-categorias ul li p{
    font-size: 14.5px;
}

.contenedor-categorias ul li a{
    font-size: 14.5px;
    /* text-decoration: none; */
    color: rgb(51, 14, 68);
}
.contenedor-categorias ul li a:hover{
    color: #544a72;
}
/* cards */
#contenedorProductos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-index{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titulo-index{
    display: flex;
    justify-content: center;
}

.card{
    margin: 8px;
}
.card-body{
    padding: 8px 8px 12px 8px;
}
.card-img-top{
    margin: 0px;
}
.card-img-top:hover{
    opacity: 0.9;
}
.card-title{
    display: flex;
    justify-content: center;
    margin: 0px 0px 2px 0px;
    font-size: 16px;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12.5px;
    margin: 0;
}
.card-precio{
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin: 2px;
}
.cont-boton{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.btn-card{
    border: none;
    background-color: rgb(233, 212, 250, 0.699);
    color: #544a72;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: small;
}
.btn-card:hover{
    background-color: rgb(212, 189, 235);
}

/* sección carrito */
.cont-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.btn-aplicar{
    background-color: rgb(233, 212, 250, 0.699)
}
.btn-aplicar:hover{
    background-color: rgb(212, 189, 235);
}
.btn-cart{
    background-color: rgb(233, 212, 250, 0.699);
    width: 100%;
}

.btn-cart:hover{
    background-color: rgb(212, 189, 235);
}

.divTotal{
    width: 100%;
}

/* footer */

footer { 
    background-color: rgb(233, 212, 250); 
    
} 

footer div { 
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 

footer div p { 
    text-align: center;
    font-size: 12.5px;
    font-weight: 500; 
    margin: 0;
    padding: 10px;
}